
body{
    background-color: #A9FFFA;
}
.img-fluid{
    border: 20px, solid, blue;
    border-radius: 10px;
}
.sorkizart{
    text-align: justify;
}
h1{
    text-align: center;
}
p{
    font-family: "Sofia", sans-serif;
}
footer{
    background-color: #3E5DFF;    
}
footer li{

    list-style-type: none;
}
nav{
    background-color: #3E5DFF;    
}
.carousel{
    height: 500px;
}
form{
    background-color: whitesmoke;
    border: solid 1px black;
    border-radius: 15px;
}
.idopont
{
    border: solid 1px black;

}

.keret{
    border: 1px solid black;
}

form{
  padding-bottom: 20px;
}
/*Időpont fpglalás*/
*

  form input, form select{

    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  form input:focus {
    border-color: #3E5DFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #3E5DFF;
    color: white;
    width:100%;
    cursor: pointer;

    
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  @media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }