
body{
    background-color: #A9FFFA;
}
.img-fluid{
    border: 20px, solid, blue;
    border-radius: 10px;
}
.sorkizart{
    text-align: justify;
}
h1{
    text-align: center;
}
p{
    font-family: "Sofia", sans-serif;
}
footer{
    background-color: #3E5DFF;    
}
footer li{

    list-style-type: none;
}
nav{
    background-color: #3E5DFF;    
}
.carousel{
    height: 500px;
}

.carousel-item {
    position: relative;
    height: 800px;
    
}

